target/
/code/data
__pycache__/
*/__pycache__/
*.py[cod]
runs/detect/train/args.yaml
runs/detect/train2/args.yaml
runs/detect/train3/args.yaml
runs/detect/train4/args.yaml
runs/detect/train5/args.yaml
runs/detect/train6/args.yaml
runs/detect/train6/confusion_matrix_normalized.png
runs/detect/train6/confusion_matrix.png
runs/detect/train6/F1_curve.png
runs/detect/train6/labels_correlogram.jpg
runs/detect/train6/labels.jpg
runs/detect/train6/P_curve.png
runs/detect/train6/PR_curve.png
runs/detect/train6/R_curve.png
runs/detect/train6/results.csv
runs/detect/train6/results.png
runs/detect/train6/train_batch0.jpg
runs/detect/train6/train_batch1.jpg
runs/detect/train6/train_batch2.jpg
runs/detect/train6/val_batch0_labels.jpg
runs/detect/train6/val_batch0_pred.jpg
runs/detect/train6/weights/best.onnx
runs/detect/train6/weights/best.pt
runs/detect/train6/weights/last.pt
runs/detect/train62/confusion_matrix_normalized.png
runs/detect/train62/confusion_matrix.png
runs/detect/train62/F1_curve.png
runs/detect/train62/P_curve.png
runs/detect/train62/PR_curve.png
runs/detect/train62/R_curve.png
runs/detect/train62/val_batch0_labels.jpg
runs/detect/train62/val_batch0_pred.jpg
runs/detect/train7/args.yaml
runs/detect/train7/confusion_matrix_normalized.png
runs/detect/train7/confusion_matrix.png
runs/detect/train7/F1_curve.png
runs/detect/train7/labels_correlogram.jpg
runs/detect/train7/labels.jpg
runs/detect/train7/P_curve.png
runs/detect/train7/PR_curve.png
runs/detect/train7/R_curve.png
runs/detect/train7/results.csv
runs/detect/train7/results.png
runs/detect/train7/train_batch0.jpg
runs/detect/train7/train_batch1.jpg
runs/detect/train7/train_batch2.jpg
runs/detect/train7/val_batch0_labels.jpg
runs/detect/train7/val_batch0_pred.jpg
runs/detect/train7/weights/best.pt
runs/detect/train7/weights/last.pt
runs/detect/train72/confusion_matrix_normalized.png
runs/detect/train72/confusion_matrix.png
runs/detect/train72/F1_curve.png
runs/detect/train72/P_curve.png
runs/detect/train72/PR_curve.png
runs/detect/train72/R_curve.png
runs/detect/train72/val_batch0_labels.jpg
runs/detect/train72/val_batch0_pred.jpg
runs/detect/train8/args.yaml
runs/detect/train8/confusion_matrix_normalized.png
runs/detect/train8/confusion_matrix.png
runs/detect/train8/F1_curve.png
runs/detect/train8/labels_correlogram.jpg
runs/detect/train8/labels.jpg
runs/detect/train8/P_curve.png
runs/detect/train8/PR_curve.png
runs/detect/train8/R_curve.png
runs/detect/train8/results.csv
runs/detect/train8/results.png
runs/detect/train8/train_batch0.jpg
runs/detect/train8/train_batch1.jpg
runs/detect/train8/train_batch2.jpg
runs/detect/train8/val_batch0_labels.jpg
runs/detect/train8/val_batch0_pred.jpg
runs/detect/train8/weights/best.onnx
runs/detect/train8/weights/best.pt
runs/detect/train8/weights/last.pt
runs/detect/train82/confusion_matrix_normalized.png
runs/detect/train82/confusion_matrix.png
runs/detect/train82/F1_curve.png
runs/detect/train82/P_curve.png
runs/detect/train82/PR_curve.png
runs/detect/train82/R_curve.png
runs/detect/train82/val_batch0_labels.jpg
runs/detect/train82/val_batch0_pred.jpg
runs/detect/train9/args.yaml
runs/detect/train9/confusion_matrix_normalized.png
runs/detect/train9/confusion_matrix.png
runs/detect/train9/F1_curve.png
runs/detect/train9/labels_correlogram.jpg
runs/detect/train9/labels.jpg
runs/detect/train9/P_curve.png
runs/detect/train9/PR_curve.png
runs/detect/train9/R_curve.png
runs/detect/train9/results.csv
runs/detect/train9/results.png
runs/detect/train9/train_batch0.jpg
runs/detect/train9/train_batch1.jpg
runs/detect/train9/train_batch2.jpg
runs/detect/train9/val_batch0_labels.jpg
runs/detect/train9/val_batch0_pred.jpg
runs/detect/train9/weights/best.onnx
runs/detect/train9/weights/best.pt
runs/detect/train9/weights/last.pt
runs/detect/train92/confusion_matrix_normalized.png
runs/detect/train92/confusion_matrix.png
runs/detect/train92/F1_curve.png
runs/detect/train92/P_curve.png
runs/detect/train92/PR_curve.png
runs/detect/train92/R_curve.png
runs/detect/train92/val_batch0_labels.jpg
runs/detect/train92/val_batch0_pred.jpg
yolo11n.pt
python/__pycache__/conv_net.cpython-311.pyc
python/__pycache__/conv_net.cpython-311.pyc
/python/__pycache__
/runs
python/__pycache__/conv_net.cpython-310.pyc
python/__pycache__/conv_net.cpython-311.pyc
python/__pycache__/conv_net.cpython-310.pyc
python/__pycache__/conv_net.cpython-311.pyc
python/__pycache__/conv_net.cpython-310.pyc
python/__pycache__/conv_net.cpython-311.pyc
python/__pycache__/conv_net.cpython-310.pyc
python/__pycache__/conv_net.cpython-311.pyc
